[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
prospector = "*"
coveralls = "*"

[packages]
django = "==2.0.7"
django-registration-redux = "==2.4"
django-two-factor-auth = "==1.7.0"
django-otp = "==0.4.3"
django-nose = "==1.4.5"
django-widget-tweaks = "==1.4.2"
phonenumbers = "==8.9.10"

[requires]
python_version = "3.6"
